nav {
    background-color: black;
    height: 80px;
    align-items: center;
}
a {
    color: white;
}
h2 {
    font-family: 'Times New Roman';
}
h3 {
    font-family: 'Times New Roman';
}
button {
    font-family: 'Times New Roman';
}
th {
    font-family: 'Times New Roman';
}
td {
    font-family: 'Times New Roman';
}